.App {
    margin: auto;
    padding-top: 50px;
    width: fit-content;
}

.app-loading {
    opacity: 0;
}

.loading-screen {
    width: fit-content;
    margin: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#keyboardAndMouseContainer {
    position: absolute;
    left: 50px;
    top: 0px;
    transform: scale(0.7);
}

#controllerContainer {
    position: absolute;
    left: 55px;
    top: 10px;
    transform: scale(0.7);
}
.controllerClass {
    position: absolute;
    opacity: 0;
}
.showClass {
    opacity: 1;
}
#audioContainer {
    position: absolute;
    left: 70px;
    top: 120px;
    transform: scale(0.5);
}
.audioClass {
    position: absolute;
    opacity: 0;
    display: none;
}
.showAudioClass {
    opacity: 1;
    display: block;
}

/* ? Startpage */
.startpagemain-container {
    padding-top: 110px;
    margin: auto;
    width: fit-content;
}
.startpagemain-container p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.startpagemain-container img{
    display: block;
    margin: auto;
    margin-top: 40px;
    width: fit-content;
}
.startpagemain-button-container {
    margin: auto;
    margin-top: 40px;
    width: fit-content;
}
.startpagemain-button-container button{
    font-size: 1.2em;
    margin: 0 50px;
    width: fit-content;
}

#pose-webcam {
    display: inline-block;
    height: 88vh;
    position: absolute;
    opacity: 0;
    z-index: 2;
}