.App {
    margin: auto;
    padding-top: 50px;
    width: fit-content;
}

.app-loading {
    opacity: 0;
}

.loading-screen {
    width: fit-content;
    margin: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ? Startpage */
.startpagemain-container {
    padding-top: 110px;
    margin: auto;
    width: fit-content;
}
.startpagemain-container p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.startpagemain-container img{
    display: block;
    margin: auto;
    margin-top: 40px;
    transform: translateX(10px);
    width: fit-content;
}
.startpagemain-button-container {
    margin: auto;
    margin-top: 40px;
    width: fit-content;
}
.startpagemain-button-container button{
    font-size: 1.4em;
    width: fit-content;
}

/* ? Canvas */
.canvas-container {
    opacity: 1;
}
.canvas-container-flipped {
    opacity: 1;
    transform: scaleX(-1);
}

/* ? Pose */
.posemain-container {
    display: inline-block;
    margin: auto;
    position: absolute;
    width: fit-content;
    z-index: 1;
}

.posemain-container img{
    margin: auto;
    position: absolute;
    z-index: -1;
}
.posemain-container video{
    opacity: 0;
    z-index: -1;
}
.posemain-container canvas{
    margin: auto;
    position: absolute;
}